<h1>Acerca de la aplicación</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae quis, fugiat, tenetur qui soluta ex nobis corrupti! Eos officiis quod alias at tenetur, laboriosam! Impedit facilis laborum tenetur aspernatur praesentium.</p>